body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: pink;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    background-color: #ffccff;
    padding: 50px;
    text-align: center;
}

.hero h1 {
    font-size: 2.5em;
    color: rgb(245, 98, 184);
}

.hero p {
    font-size: 1.2em;
    color: #ff6699;
}

.rsvp {
    display: inline-block;
    background-color: pink;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.entry {
    display: inline-block;
    background-color: yellow;
    padding: 5px 10px;
    margin-top: 20px;
}

.featured-vendors {
    margin: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: pink;
    color: white;
}