* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../logo/SK-Logo.png') no-repeat center center;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 80px;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(5px);
  z-index: -1;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  padding: 15px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header-logo {
  height: 55px;
  margin-left: 25px;
  margin-right: 20px;
}

.header h1 {
  font-size: 24px;
  font-weight: 700;
  color: #ff6699;
  text-align: center;
  flex-grow: 1;
}

.container {
  background: rgba(255, 255, 255, 0.4);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  max-width: 650px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.title-box {
  margin-bottom: 20px;
}

.title-box h2 {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  text-shadow: none;
}

.text-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}

.text-box p {
  font-size: 18px;
  color: black;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.btn {
  display: inline-block;
  padding: 14px 28px;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  background: white;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  border: 2px solid #ff6699;
}

.btn:hover {
  background: white;
  color: #ff6699;
  transform: scale(1.1);
  border-color: #ff6699;
}